<div style="width: 100%;">
    <div>
        <div class="avatarCtn">
            <img src="./../assets/img/defaultAvatar.png" width="120"  alt="" />
        </div>
        <div class="basicInfo">
            <p class="title"> Professional name</p>
            <p class="ocupation"><span class="ocupation title">PSICOLOGIST</span> | Lisbon</p>
            <review></review>
            <p class="price"><b class="price v">R$160</b>/ 50 MINUTES</p>
        </div>
    </div>
    <p class="bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
        deserunt mollit anim id est laborum.
    </p>
</div>