
.scdlTitle{
    font-size: 16px;
    color: white;
}
.scdlSubTitle{
    font-size: 12px;
    color: white;
    font-weight: 200;
}
.mainCtn{
    position: relative;
    height: 350px;
}
.titleCtn{
    width: 400px;
    background-color: #027bdc;
    text-align: center;
    padding: 10px 0;
}
.weekDayTxt{
    font-size: 11px;
    font-weight: 100;
}

.dayMonthTxt{
    font-size: 13px;
    font-weight: 300;
}

.headerShadowCtn{
    box-shadow: 0px 3px 7px #888888;
    position:absolute;
    width: 400px;
    height: 50px;


}
.dayCtn{
    text-align: center;
    height: 45px;
     padding: 5px;
}

.dayCtnh{
    text-align: center;
    height: 45px;
     padding: 5px;
     width: 60px;
     min-width: 60px;
}
.contentShadowCtn{
    position: absolute;
    bottom: 0;
    box-shadow: 0px 3px 7px #888888;
    width: 400px;
    height: 230px;
}
.more{
    height: 550px;
}


.mainSchdlCtn{
    position: relative;
    height: 290px;
    width: 400px;
}
.schdlCtn{
    width: 400px;
    height: 330px;
    position: relative;
}
.timeTxt{
    color: #606c72;
    font-weight: bold;
    font-size: 12px;
}
.timeCtn{
    padding: 6px 8px 6px 8px;
    background-color: #e3e5ed;
    margin-bottom: 4px;
    cursor: pointer;
    margin-right: 5px; text-align: center;
}
.timeCtn:hover{
    background-color: #c6c8d0;
}

.hide{
    display: none;
}

.scheduleContainer{
    margin-top: 30px;
    display: flex;
    width: 240px;
    overflow: auto;
    overflow-x: hidden;
    
    &.allTimes{
        width: 260px;
    }
}




.scdlContent{
    position: relative;
    width: 330px;
}

.shadowCtn{
    box-shadow: 0px 3px 7px #888888; 
}

.scdlHeaderCtn{
    display: flex;width: 234px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto; 
}

.timesContainer{
    box-shadow: 0px 3px 7px #888888;
    padding: 3px 0 3px 0;
    margin-top: 13px;
}

.contentScroll{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 240px;
    overflow: auto;
    overflow-x: hidden;
}

.scrollContent{
    display: flex;
    transition-duration: 0.2s;
}

.timesContents{
    width: 60px;
    height: 200px;
}

.prev-nextBtn{
    border-radius: 50%;
    height: 24px;
    border: 0;
    width: 22px;
    height: 22px;
    color: white;
    background-color: gray;
    position: absolute;
    top: 10px;
    cursor: pointer;
    &.prev{
        left: 25px;
    }
    &.next{
        right: 25px;
    }
}

.titleCtn{
    width: 330px;
}

.dsbl{
    opacity: 0.5;
    pointer-events: none;
}